# Исключаем служебные файлы Git
.git
.gitignore

# Исключаем кэш Python и виртуальные окружения
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Исключаем локально созданные папки с данными и моделями.
# Они будут подключаться через volume, а не копироваться в образ.
data/
models/

# Файлы IDE
.idea/
.vscode/
